@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

/**UTILITY**/

.text-center {
    text-align: center;
}

.underline {
    text-decoration: underline;
}

.text-left {
    text-align: left
}

.text-color--gold {
    color: gold;
}

.text-color--grey {
    color: #222222;
}

.text-uppercase {
    text-transform: uppercase;
}

.uppercase {
    text-transform: uppercase;
}

.section-header {
    text-shadow: 1px 1px grey;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.secondary-header {
    font-family: 'Exo';
    margin-top: 0px;
}

.ticket-button {
    font-family: 'Exo';
    text-transform: uppercase;
}

/** Navbar **/

.navbar-brand {
    position: relative;
    background: url() center center;
    background-repeat: no-repeat;
    width: 35px;
    left: 15px;
    background-size: contain;
    margin-right: 5vw;
}

.navbar-inverse {
    margin-bottom: 0px;
    -webkit-box-shadow: 0px 7px 6px -1px rgba(0,0,0,0.29);
    -moz-box-shadow: 0px 7px 6px -1px rgba(0,0,0,0.29);
    box-shadow: 0px 7px 6px -1px rgba(0,0,0,0.29);
}

/**CAROUSEL**/

.carousel-inner {
    max-width: 40vh;
    max-height: 30vh;
}

/*****headers****/


/**SOCIAL MEDIA ICON COLOR**/

#navbar .nav .dropdown .dropdown-menu li .fa-twitter-square {
    color: #10CFFE !important;
}

#navbar .nav .dropdown .dropdown-menu li .fa-facebook-square {
    color: #3C5A99 !important;
}

#navbar .nav .dropdown .dropdown-menu li .fa-instagram {
    color: #E754CA !important;
}



.intro-container {
    height: 85vh;
    background: url('../images/corner1.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.thumbnail-background1 {
    background-size: cover;
}

.jumbotron {
    position: relative;
    left: 0px;
    border-radius: 2%;
}

.jumbotron-subscribe {
    width: 70vw;
    margin-top: 40px;
    background-color: rgba(192,192,192,0.9);
}




/**TICKET SECTION**/

#ticket-head {
    min-height: 65vh;
}
.container-wrapper-gold {
    background-color: gold;
}

.ticket-wrapper {
    padding-bottom: 40px;
}

.thumbnail {
    text-align: center; /**Using this to center content in 'ticket' section **/
}

.section-header {
    font-family: 'Oswald';
    display: inline-block;
}

/**HIGHLIGHTS**/

.container-wrapper-grey {
    background-color: #222222;
}

.container-wrapper-grey .page-header {
    color: gold;
}

.highlight-wrapper {
    padding-bottom: 40px;
}

/**SUBSCRIBE**/

.subscribe {
    text-align: center;
    background: url(../images/passing.jpg) no-repeat center center fixed;
    background-size: cover;
    display: flex;
}

.subscribe-header {
    padding-bottom: 20px;
    padding-top: 40px;
    text-shadow: 2px 2px black;
    font-weight: 500;
    font-size: 3em;
    margin-bottom: 0px;
    margin-top: 0px;
    font-family: 'Oswald';
    display: inline-block;
}

.subscribe-container {
    min-height: 200px;
}

.subscribe-enter {
    padding-bottom: 20px;
    padding-top: 10px;
}

.subscribe-button {
    font-family: 'Exo';
    text-transform: uppercase;
}

/***history***/

/**PACKAGES**/

.packages-button {
    font-family: 'Exo';
    text-transform: uppercase;
}

.packages-wrapper {
    padding-bottom: 100px;
}

.packages {
    text-align: center;
}

/***footer****/

.social-links li a .fa-instagram,
.social-links li a .fa-snapchat-ghost,
.social-links li a .fa-twitter,
.social-links li a .fa-facebook,
.social-links li a .fa-youtube
{
    border: 1px black solid;
}

.container-wrapper-gold-footer {
        text-align: center;
}


.footer-text {
    text-align: center;
}

.ticket-header {
    display: inline-block;
}

.social-links {
    padding-bottom: 15px;
}

.social-links li a i {
    width: 32px;
    height: 32px;
    padding: 12px 0;
    border-radius:50%;
    font-size: 13px;
    line-height: 7px;
    text-align: center;
    color: #fafafa;
    background: #8f8f8f;
    transition: all 0.35s ease-in-out;
    -moz-transition: all 0.35s ease-in-out;
    -webkit-transition: all 0.35s ease-in-out;
    -o-transition: all 0.35s ease-in-out;
}

.social-links li a .fa-youtube:hover {
    background: #e84610;
}

.social-links li a .fa-snapchat-ghost:hover {
    background: #fffc00;
}

.social-links li a .fa-twitter:hover {
background: #10CFFE;
}

.social-links li a .fa-facebook:hover {
background: #3C5A99;
}

/** found the instagram background color online **/
.social-links li a .fa-instagram:hover {
    background: radial-gradient(circle farthest-corner at 35% 90%,#fec564,transparent 50%),radial-gradient(circle farthest-corner at 0 140%,#fec564,transparent 50%),radial-gradient(ellipse farthest-corner at 0 -25%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 20% -50%,#5258cf,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 0,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 60% -20%,#893dc2,transparent 50%),radial-gradient(ellipse farthest-corner at 100% 100%,#d9317a,transparent),linear-gradient(#6559ca,#bc318f 30%,#e33f5f 50%,#f77638 70%,#fec66d)
}

/**HISTORY***/



/*****VIDEO SECTION *****/

.caption-video {
    padding-top: 0px;
}

#highlight-head .container .highlights .video-content .col-xs-12 {
    padding-left: 0px;
    
}

/**CODE gotten from StackOverflow to create flexbile video in thumbail**/


.flex-video {
          position: relative;
          padding-top: 25px;
          padding-bottom: 67.5%;
          height: 0;
          margin-bottom: 16px;
          overflow: hidden;
           }

          .flex-video.widescreen { padding-bottom: 57.25%; }
          .flex-video.vimeo { padding-top: 0; }

          .flex-video iframe,
          .flex-video object,
          .flex-video embed {
            position: absolute;
            top: 0;
            left: 0;
            width: 100%;
            height: 100%;
          }

 @media only screen and (max-device-width: 800px),  
 only screen and (device-width:1024px) and (device-height: 600px), only screen 

 and (width: 1280px) and (orientation: landscape), only screen 

 and (device-width: 800px), only screen and (max-width: 767px) {

 .flex-video { padding-top: 0; }
   }
