@import url('https://fonts.googleapis.com/css?family=Roboto:100,200,300,400,500,600,700|Exo:100,200,300,400,500,600,700');

body {
    font-family: 'Roboto', sans-serif;
    padding-top: 50px;
}

/**UTILITY**/

.text-left {
    text-align: left
}

.text-uppercase {
    text-transform: uppercase;
}

.section-header {
    text-shadow: 1px 1px grey;
    font-family: 'Oswald';
    font-weight: 500;
    font-size: 5em;
    margin-bottom: 0px;
    margin-top: 0px;
}

.secondary-header {
    font-family: 'Exo';
    margin-top: 0px;
}

.ticket-button {
    font-family: 'Exo';
    text-transform: uppercase;
}

/** Navbar **/

.navbar-brand {
    position: relative;
    background: url(../images/clublogo.png) center center;
    background-repeat: no-repeat;
    width: 65px;
    left: 15px;
    background-size: contain;
    margin-right: 5vw;
}

.navbar-inverse {
    margin-bottom: 0px;
}

/**CAROUSEL**/

.carousel-inner {
    max-width: 40vh;
    max-height: 30vh;
}


/**SOCIAL MEDIA ICON COLOR**/

.fa-twitter-square {
    color: #10CFFE !important;
}

.fa-facebook-square {
    color: #3C5A99 !important;
}

.fa-instagram {
    color: #E754CA !important;
}



.intro-container {
    height: 70vh;
    background: url('../images/ball.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

.jumbotron {
    position: relative;
    left: 0px;
    border-radius: 2%;
    width: 35vw;
}


/**TICKET SECTION**/
.container-wrapper-gold {
    background-color: gold;
}

.thumbnail {
    text-align: center;
}

.ticket-header {
    display: inline-block;
}

/**HISTORY***/

.history-container {
    height: 80vh;
    background: url('../images/corner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}

/*****VIDEOS*****/

.video-container {
    height: 80vh;
    background: url('../images/corner.jpg') no-repeat center center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    display: flex;
    align-items: center;
    position: relative;
    justify-content: center;
}